<ng-container *ngIf="(activityData$ | async) as activities; else loading">
    <ul class="space-y-4">
        <li *ngFor="let item of activities">
            <div class="border rounded-md p-4 shadow-sm">
                <details>
                    <summary class="text-lg font-bold cursor-pointer">{{item.name}}</summary>
                    <ul class="ml-4 space-y-2">
                        <li class="text-gray-600">Tag: {{item.tag}}</li>
                        <li class="text-gray-600">Description: {{item.description}}</li>
                        <li class="text-gray-600">Cost: {{item.cost_estimate}}</li>
                        <li class="text-gray-600">Start Time: {{item.startTime}}</li>
                        <li class="text-gray-600">End Time: {{item.endTime}}</li>
                        <li class="text-gray-600">Start Location: {{item.startLocation}}</li>
                        <li class="text-gray-600">End Location: {{item.endLocation}}</li>
                        <button nz-button nzType="default" nzShape="round" routerLink="/dashboard/editActivity">Edit
                            Activity</button>
                        <li><app-delete-activity></app-delete-activity></li>
                    </ul>

                </details>
            </div>
        </li>
        <li>
            <div class="border rounded-md p-4 shadow-sm">
                <details>
                    <summary class="text-lg font-bold cursor-pointer">Add a new Activity</summary>
                    <form class="mt-2 space-y-2">
                        <div class="mb-4">
                            <label for="name" class="block font-medium text-gray-700">Name:</label>
                            <input type="text" id="name" name="name" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.name">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block font-medium text-gray-700">Tag:</label>
                            <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.tag">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block font-medium text-gray-700">Description:</label>
                            <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.description">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block font-medium text-gray-700">Cost:</label>
                            <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.cost_estimate">
                        </div>
                        <div class="mb-4">
                            <label for="startDate" class="block font-medium text-gray-700">Start Time:</label>
                            <input type="text" id="startDate" name="startDate" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.startTime">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block font-medium text-gray-700">End Time:</label>
                            <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.endTime">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block font-medium text-gray-700">Start Location:</label>
                            <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.startLocation">
                        </div>
                        <div class="mb-4">
                            <label for="endDate" class="block font-medium text-gray-700">End Location:</label>
                            <input type="text" id="endDate" name="endDate" class="form-input mt-1 block w-full"
                                [(ngModel)]="newActivity.endLocation">
                        </div>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded"
                            (click)="addUserActivity()">Add
                            Activity</button>
                    </form>
                </details>
            </div>
        </li>
    </ul>
</ng-container>

<ng-template #loading>
    <p>Loading trips...</p>
</ng-template>