<ng-container *ngIf="(tripData$ | async) as trips; else loading">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let trip of trips">
            <nz-card nzTitle={{trip.name}} class="bg-white border border-gray-200 shadow-md">
                <ul class="space-y-2">
                    <li><strong>Description:</strong> {{ trip.description ?? 'no description' }}</li>
                    <li><strong>Start Date:</strong> {{ trip.startDate ?? 'no Date'}}</li>
                    <li><strong>End Date:</strong> {{ trip.endDate ?? 'no Date'}}</li>
                    <li><strong>Activities:</strong> <app-activity></app-activity></li>
                    <li class="flex justify-end space-x-2">
                        <button nz-button nzType="default" nzShape="round" routerLink="/dashboard/addActivity">Add New
                            Activity</button>
                        <button nz-button nzType="default" nzShape="round" routerLink="/dashboard/editTrip">Edit
                            Trip</button>
                        <app-delete-trip></app-delete-trip>
                    </li>
                </ul>
            </nz-card>
        </div>
        <div class="flex justify-center pb-4">
            <div>
                <button nz-button nzType="default" nzShape="round" routerLink="/dashboard/addTrip">Add New Trip</button>
            </div>
        </div>

    </div>
</ng-container>

<ng-template #loading>
    <nz-spin nzSize="large"></nz-spin>
</ng-template>