<nz-layout class="bg-[url('src/assets/background.jpg')]">
    <nz-header aria-label="Site navigation" class="flex justify-between items-center px-4 py-2 md:px-8">
        <a routerLink="/" nz-typography class="text-2xl font-bold">Holiday Guru</a>
        <div class="flex justify-center items-center">
            <button aria-label="Login" nz-button nzType="primary" nzShape="round" routerLink="/login"
                class="mr-2">Login</button>
            <button aria-label="Sign Up" nz-button nzType="default" nzShape="round" routerLink="/signup">Sign
                Up</button>
        </div>
    </nz-header>
    <nz-content>
        <div class="flex flex-col justify-center items-center h-screen">
            <div class="bg-white rounded-lg p-6 shadow-lg">
                <h2 class="text-2xl font-bold mb-4">Sign Up</h2>
                <form nz-form>
                    <nz-form-item>
                        <nz-form-label htmlFor="email">Email</nz-form-label>
                        <input nz-input type="text" id="email" #emailSignUp class="w-full" />
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label htmlFor="password">Password</nz-form-label>
                        <input nz-input type="password" id="password" #passwordSignUp class="w-full" />
                    </nz-form-item>
                    <button aria-label="Sign Up" nz-button nzType="primary" class="w-full"
                        (click)="onSignup(emailSignUp.value, passwordSignUp.value)" routerLink="/dashboard">Sign
                        Up</button>
                </form>
                <div></div>
            </div>
        </div>
    </nz-content>
</nz-layout>