<nz-layout class="bg-[url('src/assets/background.jpg')]" aria-label="Main Layout">
    <nz-header aria-label="Site navigation" class="flex justify-between items-center px-4 py-2 md:px-8">
        <a routerLink="/" nz-typography class="text-2xl font-bold">
            <span class="text-slate-200" aria-label="Holiday">Holiday</span>
            <span class="text-blue-500" aria-label="Guru">Guru</span>
        </a>
        <div class="flex justify-center items-center">
            <button aria-label="Login" nz-button nzType="primary" nzShape="round" routerLink="/login"
                class="mr-2">Login</button>
            <button aria-label="Sign Up" nz-button nzType="default" nzShape="round" routerLink="/signup">Sign
                Up</button>
        </div>
    </nz-header>
    <nz-content aria-label="Main Content">
        <div class="flex justify-center items-center h-screen px-4" aria-label="Login Form">
            <div class="w-full max-w-xs bg-white p-6 rounded-md shadow-lg">
                <h2 class="flex justify-center text-xl font-bold mb-4" aria-label="Login Heading">Sign
                    Up</h2>
                <form nz-form [formGroup]="signupForm" (ngSubmit)="onSignup()">
                    <div *ngIf="formError" class="text-red-600 mb-2">{{ formError }}</div>
                    <nz-form-item>
                        <nz-form-label aria-label="Email Label">Email</nz-form-label>
                        <input nz-input type="email" formControlName="email" class="w-full" aria-label="Email Input" />
                        <div class="text-red-600 text-xs mt-1"
                            *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">
                            Email is required.</div>
                        <div class="text-red-600 text-xs mt-1"
                            *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">Enter
                            a valid email.</div>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label aria-label="Password Label">Password</nz-form-label>
                        <input nz-input type="password" formControlName="password" class="w-full"
                            aria-label="Password Input" />
                        <div class="text-red-600 text-xs mt-1"
                            *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">
                            Password is required.</div>
                        <div class="text-red-600 text-xs mt-1"
                            *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched">
                            Password must be at least 6 characters.</div>
                    </nz-form-item>
                    <button aria-label="Sign Up Button" nz-button nzType="primary" class="w-full mt-4" type="submit"
                        [disabled]="signupForm.invalid">Sign Up</button>
                </form>
            </div>
        </div>
    </nz-content>
</nz-layout>