<nz-layout class="bg-[url('src/assets/background.jpg')]">
    <nz-header>
        <nav class="flex justify-between items-center h-full">
            <a routerLink="/" nz-typography class="text-4xl font-bold">Holiday Guru</a>
            <div>
                <button nz-button nzType="primary" nzShape="round" routerLink="/login" class="mr-4">Login</button>
                <button nz-button nzType="default" nzShape="round" routerLink="/signup">Sign Up</button>
            </div>
        </nav>
    </nz-header>
    <nz-content>
        <nz-row class="h-screen flex items-center justify-center">
            <nz-col class="flex items-center justify-center">
                <div class="text-center">
                    <h1 class="text-5xl mb-8 text-white">Plan your dream vacation with ease</h1>
                    <p class="text-lg text-white px-8" style="line-height: 1.5;">Holiday Planner is the perfect tool for
                        anyone who wants to plan their dream vacation with ease. With our user-friendly interface and
                        powerful planning tools, you can quickly and easily create the perfect itinerary for your next
                        trip. Whether you're planning a romantic getaway or a family vacation, Holiday Planner has
                        everything you need to make your trip a success.</p>
                </div>
            </nz-col>
        </nz-row>
    </nz-content>
</nz-layout>

<style>
    /* Media queries for screens smaller than 640px */
    @media (max-width: 640px) {
        .text-5xl {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .text-lg {
            font-size: 1.25rem;
            line-height: 1.3;
        }

        .px-8 {
            padding: 0 1rem;
        }
    }

    /* Media queries for screens larger than 640px */
    @media (min-width: 641px) {
        .text-5xl {
            font-size: 5rem;
            margin-bottom: 4rem;
        }

        .text-lg {
            font-size: 1.5rem;
            line-height: 1.5;
        }

        .px-8 {
            padding: 0 4rem;
        }
    }
</style>