<nz-layout class="bg-[url('src/assets/background.jpg')]">
    <nz-header aria-label="Site navigation" class="flex justify-between items-center px-4 py-2 md:px-8">
        <a routerLink="/" nz-typography class="text-2xl font-bold">Holiday Guru</a>
        <div class="flex justify-center items-center">
            <button aria-label="Login" nz-button nzType="primary" nzShape="round" routerLink="/login"
                class="mr-2">Login</button>
            <button aria-label="Sign Up" nz-button nzType="default" nzShape="round" routerLink="/signup">Sign
                Up</button>
        </div>
    </nz-header>
    <nz-content>
        <nz-row class="h-screen flex items-center justify-center">
            <nz-col class="flex items-center justify-center">
                <div class="text-center">
                    <h1 class="text-3xl md:text-5xl mb-8 text-white">Plan your dream vacation with ease</h1>
                    <p class="text-lg md:text-xl text-white px-4 md:px-8" style="line-height: 1.5;">Holiday Planner is
                        the perfect tool for
                        anyone who wants to plan their dream vacation with ease. With our user-friendly interface and
                        powerful planning tools, you can quickly and easily create the perfect itinerary for your next
                        trip. Whether you're planning a romantic getaway or a family vacation, Holiday Planner has
                        everything you need to make your trip a success.</p>
                </div>
            </nz-col>
        </nz-row>
    </nz-content>
</nz-layout>