<nz-layout>
    <nz-header aria-label="Site navigation" class="flex justify-between items-center px-4 py-2 md:px-8">
        <a nz-typography class="text-2xl font-bold">
            <span class="text-slate-200">Holiday</span>
            <span class="text-blue-500">Guru</span>
        </a>
    </nz-header>
</nz-layout>
<div class="p-4">
    <div class="flex items-center mb-4">
        <button class="text-blue-500 font-medium hover:text-blue-700" onclick="window.history.back()">
            &lt; Back
        </button>
        <h1 class="text-lg font-bold ml-4">Edit Trip</h1>
    </div>
    <nz-card nzTitle="Edit This Trip" nzCollapsible="true" [nzBordered]="false">
        <form class="mt-2 space-y-2">
            <div class="mb-4">
                <label for="name" class="block font-medium text-gray-700">Name:</label>
                <input type="text" id="name" name="name" class="form-input w-full border border-gray-400 w-full h-12"
                    [(ngModel)]="updateTrip.name">
            </div>
            <div class="mb-4">
                <label for="description" class="block font-medium text-gray-700">Description:</label>
                <input type="text" id="description" name="description"
                    class="form-input w-full border border-gray-400 w-full h-12" [(ngModel)]="updateTrip.description">
            </div>
            <div class="mb-4">
                <label for="startDate" class="block font-medium text-gray-700">Start Date:</label>
                <input type="text" id="startDate" name="startDate"
                    class="form-input w-full border border-gray-400 w-full h-12" [(ngModel)]="updateTrip.startDate">
            </div>
            <div class="mb-4">
                <label for="endDate" class="block font-medium text-gray-700">End Date:</label>
                <input type="text" id="endDate" name="endDate"
                    class="form-input w-full border border-gray-400 w-full h-12" [(ngModel)]="updateTrip.endDate">
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="updateUserTrip()"
                routerLink="/dashboard">Save Changes</button>
        </form>
    </nz-card>
</div>