<nz-layout>
    <nz-header aria-label="Site navigation" class="flex justify-between items-center px-4 py-2 md:px-8">
        <a routerLink="/dashboard" nz-typography class="text-2xl font-bold">Holiday Guru</a>
    </nz-header>
</nz-layout>
<div class="border rounded-md p-4 shadow-sm">
    <nz-card nzTitle="Edit This Trip" nzCollapsible="true" [nzBordered]="false">
        <form class="mt-2 space-y-2">
            <div class="mb-4">
                <label for="name" class="block font-medium text-gray-700">Name:</label>
                <input type="text" id="name" name="name" class="form-input mt-1 block w-full"
                    [(ngModel)]="updateTrip.name">
            </div>
            <div class="mb-4">
                <label for="description" class="block font-medium text-gray-700">Description:</label>
                <input type="text" id="description" name="description" class="form-input mt-1 block w-full"
                    [(ngModel)]="updateTrip.description">
            </div>
            <div class="mb-4">
                <label for="startDate" class="block font-medium text-gray-700">Start Date:</label>
                <input type="text" id="startDate" name="startDate" class="form-input mt-1 block w-full"
                    [(ngModel)]="updateTrip.startDate">
            </div>
            <div class="mb-4">
                <label for="endDate" class="block font-medium text-gray-700">End Date:</label>
                <input type="text" id="endDate" name="endDate" class="form-input mt-1 block w-full"
                    [(ngModel)]="updateTrip.endDate">
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="updateUserTrip()"
                routerLink="/dashboard">Save Changes</button>
        </form>
    </nz-card>
</div>