<div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-xs space-y-4">
        <h2 class="text-xl font-bold mb-4">Login</h2>
        <form nz-form>
            <nz-form-item>
                <nz-form-label>Email</nz-form-label>
                <input nz-input type="text" #emailLogin />
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Password</nz-form-label>
                <input nz-input type="password" #passwordLogin />
            </nz-form-item>
            <button nz-button nzType="primary" class="w-full" (click)="onLogin(emailLogin.value, passwordLogin.value)"
                routerLink="/dashboard">Login</button>
        </form>
        <div class="flex justify-center">
            <a routerLink="/" class="text-blue-500 hover:text-blue-700">Back</a>
        </div>
    </div>
</div>